* {
	padding: 0px;
	font-family: monospace;
}

.container {
	
}

.btn {
	padding: 5px;
	margin-bottom: 2px;
	background: #D2D2D2;
	color: black;
	text-decoration: none;
	border: 2px;
	border-radius: 4px;
}

.btn:hover {
	cursor: pointer;
	background: graytext;
	color: white;
}